.container {
  cursor: pointer;
  line-height: 0;
  margin-right: 15px;
  position: relative;
}

.seekContainer {
  position: absolute;
  background-color: black;
  border-radius: 5px;
  width: 35px;
  height: 80px;
  left: -5px;
  top: -115px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.seekBar {
  width: 5px;
  height: 100%;
  background-color: rgb(255, 255, 255, .3);
  border-radius: 5px;
  position: relative;
}

.slider {
  width: 5px;
  height: 0%;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}